body {
    background: var(--background)
}

iframe {
    border: 0;
}

#single-panel {
    width: 100%;
    height: 550px;
}

#slider {
    width: 100%;
    height: 585px;
}

@media screen and (min-width: 798px) {
    #single-panel {
        height: 354px;
    }

    #slider {
        height: 389px;
    }
}

